secret.yaml
.idea
.venv
google-service-account-secret.yaml

# Base secrets (to be removed after migration)
k8s/base/django/secret.yaml
k8s/base/django/google-service-account-secret.yaml
k8s/base/mysql/secret.yaml
k8s/base/redis/secret.yaml
k8s/base/elasticsearch/secret.yaml

# Kubernetes secrets
k8s/overlays/*/secret/*.yaml
!k8s/overlays/*/secret/*.template