secret.yaml
.idea
.venv
google-service-account-secret.yaml

# 민감한 쿠버네티스 Secret 파일
k8s/base/django/secret.yaml
k8s/base/django/google-service-account-secret.yaml

# Kubernetes secrets
k8s/overlays/*/mysqld-exporter-secret.yaml
k8s/overlays/*/mysql-secret.yaml
k8s/overlays/*/redis-secret.yaml
k8s/overlays/*/django-secret.yaml

# Keep templates
!k8s/overlays/*/mysqld-exporter-secret.yaml.template
!k8s/overlays/*/mysql-secret.yaml.template
!k8s/overlays/*/redis-secret.yaml.template
!k8s/overlays/*/django-secret.yaml.template