apiVersion: v1
kind: Secret
metadata:
  name: django-secret
type: Opaque
stringData:
  SECRET_KEY: "your-secret-key"
  DB_PASSWORD: "your-db-password"
  EMAIL_HOST_USER: "your-email"
  EMAIL_HOST_PASSWORD: "your-email-password"
  NOTICE_EMAILS: "your-notice-email"
  CHATGPT_KEY: "your-chatgpt-key"
  WEB_HOOK_ADDRESS: "your-webhook-address"
  SENTRY_DNS: "your-sentry-dns"
  GOOGLE_DRIVE_MEDIA_BACKUP_FOLDER_ID: "your-google-drive-folder-id"
  ELASTICSEARCH_USERNAME: "elastic"
  ELASTICSEARCH_PASSWORD: "your-elastic-password" 